@using ChildDevelopment.Models;
@{
  Layout = "_Layout";
}

<div class="controller text-center">


<h2>Please update your data.</h2>
<form action = "/children" method = "post">
<label for = "name">Name:</label>
<input type = "text" name = "name" required value='@Model["child"].GetName()'><br><br>

<label for="gender">Gender:</label>
<select id="gender" name="gender" required  value='@Model["child"].GetGender()'>
<option value=false>boy</option>
<option value=true>girl</option>
</select><br><br>

<label for = "weight">Weight(in ounces):</label>
<input type = "num" name = "weight" required value='@Model["child"].GetWeight()'><br><br>

<label for = "height">Height(in inches):</label>
<input type = "num" name = "height" required value='@Model["child"].GetHeight()'><br><br>

<label for = "birth_date">birth_date:</label>
<input type = "date" name = "birth_date" required value='@Model["child"].GetBirthdate()'><br><br>


<label for="breastfeeding">Was the child breastfed?:</label>
<select id="breastfeeding" name="breastfeeding" required  value='@Model["child"].GetBreastfeeding()'>
<option value=true>Yes</option>
<option value=false>No</option>
</select><br><br>
<hr>
<div class="row">
  <div class="col-md-6">
       <label for = "hold_head">When did your child hold her/his head?:</label>
   <input type = "date" name = "hold_head"><br><br>

   <label for = "roll_over">When did your child roll over?</label>
   <input type = "date" name = "roll_over"><br><br>

   <label for = "first_teeth">When did your child's first tooth come out?</label>
   <input type = "date" name = "first_teeth"><br><br>

   <label for = "sit">When did your child sit?</label>
   <input type = "date" name = "sit"><br><br>

   <label for = "crawl">When did your child crawl?</label>
   <input type = "date" name = "crawl"><br><br>

   <label for = "walk">When did your child walk?</label>
   <input type = "date" name = "walk"><br><br>

   <label for = "When did your child say her/him first word">When did your child say her/him first word"</label>
   <input type = "date" name = "first_words"><br><br>
  </div>
  <div class="col-md-6">

   <label for = "When did your child start feeding her/his self?"> "When did your child start feeding her/his self?</label>
   <input type = "date" name = "self_feeding"><br><br>

   <label for = "When did your child start to make believe?">"When did your child start to make believe?</label>
   <input type = "date" name = "make_believe"><br><br>

   <label for = "When did your child make two word sentence">When did your child make two word sentence?</label>
   <input type = "date" name = "two_word_sentence"><br><br>

   <label for = "When did your child potty train?">When did your child potty train?</label>
   <input type = "date" name = "potty_trained"><br><br>

   <label for = "When did your child dressed her/him self?">When did your child dressed her/him self?</label>
   <input type = "date" name = "dressed_self"><br><br>

   <label for = "When did your child started to tell a story">When did your child started to tell a story?</label>
   <input type = "date" name = "tell_story"><br><br>

   <label for = "When did your child learn to read & write">When did your child learn to read & write?</label>
   <input type = "date" name = "read_write"><br><br>
  </div>


    <button class="btn btn-lg btn-primary" type = "submit">Update</button>
</form>

</div>
</div>
